<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/main.css">
    <title>OnTa?</title>
</head>
<body>
    <div id="navbar">
        <!--Espacio para el navbar-->
    </div>
    <div class="container-fluid" style="margin-top:80px">
        <div class="jumbotron jumbotron-fluid">
            <div class="container" style="text-align:center">
                <h1>Bienvenido!</h1>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary"><a href="encontrados.html">Aqui esta!</a></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary"><a href="ControlBusquedas.html">¿Donde esta?</a></button>
                </div>
            </div>
            <div id="contadores">
                <!--Espacio para los contadores de encontrados-->
            </div>
        </div>
    </div>
</body>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/popper.js/dist/popper.min.js"></script>
<script src="../../node_modules/vue/dist/vue.min.js"></script>
<script src="../JavaScript/main.js""></script>
</html>