<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/main.css">
    <title>OnTa?</title>
</head>
<body>
    <div id="navbar">
        <!--Espacio para el navbar-->
    </div>
    <div class="container-fluid" style="margin-top:80px">
            <form action="index.html">
                    <h2>Iniciar Sesión</h2>
                    <p>
                        <label for="loginUsername">Nombre De Usuario</label>
                        <input id="loginUsername" name="loginUsername" type="text" placeholder="Tu usuario" required>
                    </p>
                    <p>
                        <label for="loginPassword">Contraseña</label>
                        <input id="loginPassword" name="loginPassword" type="password" placeholder="Tu contraseña" required>
                    </p>
                    <div class="btn-group">
                        <a href="index.html"><button type="button" class="btn btn-basic btn-lg">Iniciar sesion</button></a>
                    </div>
                    <div class="btn-group">
                        <a href="CrearCuenta.html"><button type="button" class="btn btn-success btn-lg">Crear cuenta</button></a>
                    </div>
            </form>
    </div>
</body>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/popper.js/dist/popper.min.js"></script>
<script src="../../node_modules/vue/dist/vue.min.js"></script>
<script src="../JavaScript/main.js""></script>
</html>